<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h4>Dear Admin,</h4>
  <p>Kindly create an account for me to access the MergerHub.
  </p>
  <p>Regards,</p>
  <div><%= @candidate.name %></div>
</body>
</html>