<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h4>Dear User,</h4>
  <p>Your changes to the transaction for the company <%= @transaction.company.name if @transaction.company %> has been approved.
  </p>
  <p>Regards,</p>
  <div>Admin,</div>
  <div>MergerHub.</div>
</body>
</html>