<div class="blog blog-category blog-archive container">
  <div class="blog-category">
    <div class="row col-lg-12">
      <h1></h1>
      <div class="panel panel-default">
        <div class="panel-heading">Edit Candidate
        </div>
        <div class="panel-body">
          <%= form_for @candidate, url: {action: "update"}, html:{ class: "admin-candidate form-horizontal" } do |f| %>
          <%= render 'form', f: f %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>