.row
  .col-sm-6
    #top-company-graph{"top_company_graph" => ""}
  .col-sm-6
    .panel.panel-default
      .panel-heading.font-bold
        Exits
      .table-responsive
        %table.table.table-striped.b-t.b-light
          %thead
            %tr
              %th Top Corporates
              %th YTD
          %tbody
            %tr{"ng-repeat" => "investment in datatopCorporateExits"}
              %td {{investment.name}}
              %td {{investment.ytd}}