<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h4>Dear Admin,</h4>
  <p>You have received a job posting from <b><%= @user_name %></b> Kindly review it and <a href="<%= @base_url %>/admin/job_portals" target="_blank">approve</a>.</p>
  <p>Regards,</p>
  <p><%= @user_name %>.</p>
</body>
</html>