= content_for :title do
  News
.blog.blog-category.blog-archive.container{"data-ng-app" => "MergerHubNews", "style" => "  margin-top: 50px;"}
  %toaster-container{"toaster-options"=>"{'time-out': 3000}"}
  .blog-category
    .row.col-lg-12{"ui-view" => ""}